body {
   background-image: url("playa.avif");
  background-size: cover;        /* La imagen cubre toda la pantalla */
  background-position: center;   /* Centrada */
  background-repeat: no-repeat;  /* No repetir la imagen */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.register-container {
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.back-button {
  position: absolute;
  top: -50px;
  left: 100;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  transition: opacity 0.3s;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Montserrat", Bold;
}

.back-button:hover {
  opacity: 0.8;
  background: rgba(175, 173, 173, 0.329);
}

.register-box {
  display: flex;
  background-color: #10a7c2;
  border-radius: 20px;
  overflow: hidden;
  width: 1000px;
  height: 600px;
  margin: auto;
}

.register-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.register-form h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
  font-family: "Montserrat", Bold;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  color: #99a908;
  font-weight: 500;
  font-size: 20px;
  font-family: "Montserrat", Bold;
}

.form-group input {
  width: 80%;
  padding: 10px 12px;
  border: 1px solid #bdc026;
  font-size: 14px;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #3498db;
  outline: none;
}

.register-btn {
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  color: #1a1a1a;
  border-color: #ffffff;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 15px;
  border:none;
  transition: background-color 0.3s;
}

.register-btn:hover {
  background-color: #e0e6e7;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link p {
  color: #ffffff;
  margin-bottom: 8px;
  font-size: 20px;
  font-family: "Montserrat", Bold;
}

.login-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ffffff;
  color: #1a1a1a;
  border-color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 0.3s;
  font-family: "Montserrat", Bold;
}

.login-btn:hover {
  background-color: #bedd34;
}

.register-image {
  flex: 1;
  min-height: 500px;
}

.image-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 992px) {
  .register-box {
    flex-direction: column;
    max-height: none;
  }

  .register-form {
    padding: 30px;
  }

  .register-image {
    display: none;
  }

  .back-button {
    top: -35px;
  }
}

@media (max-width: 576px) {
  .register-form {
    padding: 25px;
  }

  .back-button {
    font-size: 14px;
    top: -30px;
  }

  .logo h1 {
    font-size: 22px;
  }

  .register-form h2 {
    font-size: 20px;
  }
}

.input-wrapper {
  position: relative;
  margin-bottom: 25px;
  width: 300px;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.7;
  pointer-events: none;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 35px 10px 10px;
  border: 1px solid #050505;
  font-size: 14px;
  box-sizing: border-box;
}
.welcome-panel {
  flex: 1;
  background-color: #51b5e4;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ccc;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
}

.welcome-panel h1 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.welcome-panel p {
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
}

.welcome-panel .login-btn {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #fff;
  color: #020202;
  border: 1px solid #000000;
  border-radius: 5px;
  text-decoration: none;
}

/* Contenedor del bloque */
.social-login {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "Montserrat", Bold;
}

.social-login p {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 15px;
}

/* Contenedor de los botones */
.social-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

/* Botones circulares */
.social-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  transition: transform 0.2s, background 0.3s;
}

.social-btn:hover {
  transform: scale(1.08);
  background: #e8e8e8;
}

.social-btn img {
  width: 24px;
  height: 24px;
}
