
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  z-index: 1001;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    color: white;
  }

  .menu-horizontal {
    display: none;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0; 
  }

  .menu-horizontal.active {
    display: flex;
  }

  .menu-horizontal li {
    list-style: none; 
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #ccc;
    padding: 0;
  }

  .menu-horizontal li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333;
    width: 100%; 
    text-align: center; 
    transition: background-color 0.3s ease; 
  }

  .menu-horizontal li a:hover {
    background-color: #f0f0f0;
  }

 
  .menu-horizontal li:last-child {
    border-bottom: none;
  }
}